In [20]:

lines = [
    "author,book",
    "J R R Tolkien,The Hobbit",
    'Lynne Truss,"Eats, Shoots & Leaves"'
]

with open('books.csv', 'w') as file:
    for line in lines:
        file.write(line + '\n')

In [21]:
import csv

with open('books.csv', 'r') as file:
    reader = csv.DictReader(file)
    books = list(reader)

print(books)

[{'author': 'J R R Tolkien', 'book': 'The Hobbit'}, {'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}]

In [22]:
lines = [
    "title,author,year",
    "The Weirdstone of Brisingamen,Alan Garner,1960",
    "Perdido Street Station,China Miéville,2000",
    "Thud!,Terry Pratchett,2005",
    "The Spellman Files,Lisa Lutz,2007",
    "Small Gods,Terry Pratchett,1992"
]

with open('books2.csv', 'w') as file:
    for line in lines:
        file.write(line + '\n')

In [23]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

conn.commit()
conn.close()

In [24]:

with open('books2.csv', 'r') as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # skip the header
    for row in csv_reader:
        conn = sqlite3.connect('books.db')
        cursor = conn.cursor()
        cursor.execute('INSERT INTO books VALUES (?, ?, ?)', (row[0], row[1], int(row[2])))
        conn.commit()
        conn.close()

In [25]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT title FROM books ORDER BY title')
titles = cursor.fetchall()
conn.close()

print(titles)

[('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',)]

In [26]:
# Select and print all columns from the book table in order of publication.

conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM books ORDER BY year')
all_columns = cursor.fetchall()
conn.close()

print(all_columns)

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('The Spellman Files', 'Lisa Lutz', 2007)]

In [19]:
from sqlalchemy import create_engine, select, MetaData, Table

engine = create_engine('sqlite:///books.db', echo=True)
metadata = MetaData()
books = Table('books', metadata, autoload_with=engine)

with engine.connect() as connection:
    stmt = select([books.columns.title]).order_by(books.columns.title)
    results = connection.execute(stmt).fetchall()

    for title in results:
        print(title[0])

2023-11-17 23:10:54,488 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("books")
2023-11-17 23:10:54,488 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-17 23:10:54,490 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-17 23:10:54,490 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-17 23:10:54,491 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("books")
2023-11-17 23:10:54,492 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-17 23:10:54,492 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("books")
2023-11-17 23:10:54,493 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-17 23:10:54,493 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-17 23:10:54,494 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-17 23:10:54,494 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-17 23:10:54,495 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-17 23:10:54,495 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2023-11-17 23:10:54,495 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-17 23:10:54,496 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("books")
2023-11-17 23:10:54,496 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-17 23:10:54,496 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("books")
2023-11-17 23:10:54,497 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-17 23:10:54,497 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-11-17 23:10:54,497 INFO sqlalchemy.engine.Engine [raw sql] ('books',)
2023-11-17 23:10:54,499 INFO sqlalchemy.engine.Engine SELECT books.title
FROM books ORDER BY books.title
2023-11-17 23:10:54,499 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ()
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!